body {
		margin: 0;
		padding: 0;
		font-family: Arial, 'Times New Roman', Times, serif;
}

.nav {
		display: flex;
		background-color: #14213d;
		width: 100%;
}


.logo {
		font-weight: 700;
		font-size: 24px;
		color: #fca311;
		flex: 3;
		margin: 20px;
		padding-left: 44px;
}

a {
		text-decoration: none;
		color: #fca311;
		padding: 5px;
		margin: 5px;
		justify-content: right;
		margin: 20px;
}

.header {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #fca311;
		color: #F9FAF8;
}


.left-side {
		padding: 25px;
		margin: 25px;
		font-size: 20px;
		flex: 3;
		margin-left: 10%;
		width: 300px;
}

.left-side h1 {
		font-size: 48px;
		font-style: bold;
		color: #14213d;
}

.header .left-side .paragraph {
		text-align: justify;
		width: 400px;
		text-justify: auto;
}

.right-side {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 10%;
		margin: 50px;
}

.right-side img {
		width: 350px;
		height: 250px;
		padding: 25px;
		margin: 25px;
		border: solid 1px #f6bd60;
		width: 100%;
		border-radius: 10px;
}



button {
		background-color: #f6bd60;
		border: solid 2px #e5e5e5;
		border-radius: 5px;
		padding: 5px 25px 5px 25px;
		color: #14213d;
}
.body {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
		margin-left: -60px;
		margin-right: -120px;
}

.body h1 {
		text-align: center;
		color: #14213d;
		font-size: 36px;
		font-weight: extra-bold;
		margin: 100px;

}

.container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 92px;
  margin-bottom: 50px;
}

.plant1 {
  width: 100px;
  flex: 1;
  text-align: justify;
}

.plant1 img {
		width: 100px;
		height: 100px;
		border: solid 5px #fca311;	
		border-radius: 10px;
}

.plant2 {
  width: 100px;
  flex: 1;
  text-align: justify;
}

.plant2 img {
		width: 100px;
		height: 100px;
		border: solid 5px #fca311;
		border-radius: 10px;
}



.plant3 {
  width: 100px;
  flex: 1;
  text-align: justify;
}


.plant3 img {
		width: 100px;
		height: 100px;
		border: solid 5px #fca311;
		border-radius: 10px;
}

.plant4 {
  width: 100px;
  flex: 1;
  text-align: justify;
}


.plant4 img {
		width: 100px;
		height: 100px;
		border: solid 5px #fca311;
		border-radius: 10px;
}

.container img {
		width: 150px;
}


.contact {
		background-color: #E5E7EB;
		display: flex;
		flex-wrap: wrap;
		height: 500px;
		width: 100%;
		margin-right: -120px;
		margin-left: -60px;
}

.contact .quote-block  {
		text-align: justify;
}

.contact .quote-block p {
		font-size: 36px;
		font-style: italic;
		margin-left: 10%;
		margin-right: 10%;
}

.contact figcaption {
		font-size: 20px;
		font-style: bold;
		margin-left: 60%;
		margin-bottom: 60%;

}


.footer {
		padding: 50px;
}

.contained {
		display: flex;
		margin: 0;
		background-color: #14213d;
		padding: 50px;
		border-radius: 15px;
		gap: 50px;
		margin-left: 60px;
}

.contained .button-foot {
		display: flex;
		align-items: center;
		justify-content: space-around;
		border: 2px solid white;
		border-radius: 8px;
		margin: auto 10px auto 10px;
}


.contained .button-foot button {
		color: white;
}



.left-foot {
		justify-content: left;
		margin: auto 150px auto auto;
		align-items: center;
		justify-content: space-around;
		color: white;
}

.left-foot div {
		font-size: 26px;
		font-style: bold;
		font-weight: 800;
}

.copyright {
		background-color: #14213d;
		width: 100%;
		text-align: center;
		color: white;
		padding: 30px;
		font-size: 18px;
}
